/*====================================
        GLOBAL STYLES
====================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #4a4a4a;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

ul,
ol {
  padding: 0;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 1em;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}


.wrapper {
  margin-right: 1em;
  margin-left: 1em;
}

/*====================================
        NAVIGATION
====================================*/

.name {
  margin-bottom: 30px;
}

.main-nav {
  margin: 0 auto;
}

.main-nav li {
  font-size: 1em;
  margin-bottom: 10px;
}

.main-nav a {
  padding: 1em;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  background-color: #fff;
}

/*====================================
        HEADER
====================================*/

.header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-pic {
  max-width: 75%;
}

.intro {
  margin-top: 30px;
  font-size: 1.05em;
}

/*====================================
        PORTFOLIO SECTION
====================================*/

.portfolio h3 {
  font-size: 1.25em;
  font-weight: 400;
}

.port-img {
  width: 100%;
}

.portfolio p {
  margin-bottom: 30px;
}

/*====================================
        CONTACT
====================================*/

.contact h2 {
  margin-top: 125px;
}

.contact a {
  font-weight: 700;
  margin-left: 10px;
}

.contact li {
  margin-top: 25px;
}

/*====================================
        FOOTER
====================================*/

.footer {
  margin-top: 125px;
  border-top: .5px solid #e7e7e7;
}

.footer .name {
  font-size: 1em;
  float: left;
}

.top {
  font-size: 1em;
  float: right;
  display: inline-block;
}

.footer li {
  font-weight: 700;
}

.foot-nav {
  display: none;
}

/*====================================
        CLEARFIX
====================================*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/*====================================
        MEDIA QUERIES
====================================*/

/*--------768PX--------*/

@media (min-width: 768px) {

  .wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }

/*-Main Nav-*/

  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }

  .name {
    margin-bottom: 15px;
  }

/*-Header-*/

  .profile-pic {
    float: right;
    width: 40%;
    margin-left: 30px;
  }

  .intro {
    font-size: 1.25em;
    text-align: left;
    padding-right: 300px;
  }

/*-Portfolio-*/

  .portfolio  {
    margin-bottom: 0;
  }

  .port-img {
    width: 100%;
  }

  .portfolio li {
    float: left;
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    margin-bottom: 35px;
  }

  .portfolio p {
    margin-left: 15px;
    margin-right: 15px;
  }

  .portfolio li:nth-child(odd) {
    clear: left;
  }

/*-Contact-*/

  .contact h2 {
    margin-top: 50px;
  }
  .contact p {
    margin-right: 135px;
    margin-left: 135px;
  }

/*-Footer-*/

.footer .name {
  float: left;
  font-size: 1.25em;
}

.footer ul {
  float: right;
}

.footer .top {
  display: none;
}

.foot-nav {
  display: inline-block;
}

.foot-nav li {
  float: left;
  font-size: 1em;
  font-weight: 700;
}

.foot-nav a {
  padding: 1em;
  width: 100%;
  height: 100%;
  font-weight: 700;
}

.footer li {
  padding-left: 35px;
}

}


/*--------1024px--------*/

@media (min-width: 1024px) {

  .wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }

/*-Main Nav-*/

  .main-nav ul {
    float: right;
    clear: right;
  }
  .main-nav li {
    padding-top: 18.219px;
    padding-bottom: 18.219px;
    margin-left: 15px;
  }

  .name {
    float: left;
    clear: left;
    padding-top: 18.219px;
    padding-bottom: 18.219px;
  }

/*-Header-*/

  .profile-pic {
    float: right;
    clear: right;
    display: block;    
    width: 40%;
    margin-left: 100px;
  }

  .intro {
    font-size: 1.25em;
    text-align: left;
  }

/*-Portfolio-*/

  .portfolio  {
    margin-bottom: 0;
  }

  .port-img {
    width: 100%;
  }

  .portfolio li {
    width: 28.3333%;
  }

  .portfolio li:nth-child(odd) {
    clear: none;
  }

  .portfolio li:nth-child(3n + 1) {
    clear: left;
  }

  .portfolio p {
    margin-left: 15px;
    margin-right: 15px;
  }

/*-Contact-*/

  .contact h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .contact p {
    font-size: 1.25em;
    margin-right: 210px;
    margin-left: 210px;
  }

/*-Footer-*/

.footer {
  margin-bottom: 0;
}

.footer .name {
  float: left;
  clear: left;
  font-size: 1.25em;
  padding: 0;
}

}
